.body_backgorund {
    background-image: url("https://www.enjpg.com/img/2020/aesthetic-desktop-1.png");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: 7F4CB2; 
      font-size: 50px;
      font-family: 'Gloria Hallelujah', cursive;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #7f4cb2;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }